.header {
	height: 15%;
}

.user-header-bar {
	display: flex;
	align-items: center;
}

.header-title-blockquote {
	font-size: 2vw;
	margin: 0.5em;
}

.header-title-author {
	font-size: 0.6em;
	text-align: right;
}

.header-nav-row{
	padding: 2em 0;
}