.logo {
	
}

.nav {
	
}

.header-nav {
	display: flex;
	flex: 0 0.2 100%;
	flex-direction: row;
	overflow: hidden;
}

.user-header-bar {
	display: flex;
	align-items: center;
}
.header-title-blockquote {
	font-size: 3vw;
	margin: 0.5em;
}


.header-title-author {
	font-size: 0.6em;
	text-align: right;
}