.add-book-form {
    
}

.add-book-form__container_button {
    margin-right: 15px;
}

.requred_star {
    color: red;
}

.add-book {
 h1 {
     text-align: center;
     font-size: 3em;
     padding: 10px;
 }
 
 .add-book-form__container_description {
     font-weight: 600;
     padding: 5px 15px;
     
 }
}