@import '../../../../style/variables.scss';

.search-result {
    background: white;
    margin: $smallSize;
    padding: $smallSize;
    border: 1px solid black;
    border-radius: $smallSize;
    transition: $smallSpeed;

    tr{
        &:hover {
            background-color: $grayWhite;
            box-shadow: 0px 0px 15px $grayWhite;
        }
    }
}