.card-img-left {
    padding: 5px;
    height: 450px;
    width: 80%;
}

.resetLink {
    color: inherit;
    opacity: 0.5;
    text-decoration: none;
}

.card-title {
     color: gray;
     font-size: 25px;
     float: left;
}

.btn-primary {
    background-color: #f4c858;
    border-color: #f4c858;
}

.btn-primary:hover {
    background-color: #efb82d;
    border-color: #f4c858;
}

.title-list-bookShelf {
    padding: 5px 10px;
}