@import '../../../style/variables.scss';

.book-order {
    background: $white;

    &__image {

        &_img {
            padding: $smallSize;
            max-height: $heightMain-normal;
            max-width: $widthMain-normal;
            border-radius: $borderRadius-small;
            transition: $smallSpeed;
    
            &:hover {
                background: $grayWhite;
            }
        }
    }
}