@import './style/reset.scss';
@import '/style/variables.scss';
@import '../../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
body {
    margin: $zero;
    padding: $zero;
    background-color: $white;
    font-family: sans-serif;
  }

h1 {
  
}

.bold {
  font-weight: bold;
}
  