.info-cabinet__container_description{
    font-weight: 600;
    padding: 5px 15px;
}

.info-cabinet__container_button {
    margin-right: 15px;
}

.user-picture{
    max-width: 35em;
    max-height: 25em;
}