// Size's
$zero: 0;
$smallSize: 5px;

// padding
$smallPadding: 5px;

// border
$borderRadius-small: 2px;

// image
$heightMain-normal: 200px;
$widthMain-normal: 200px;

// Color's
$black: black;
$white: white;
$grayWhite: #a9eee8;
$yellow: yellow;

// Speed
$smallSpeed: 0.25s;